@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #FCD34D;
    --secondary-color: #F59E0B;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
}

.authorName {
    text-align: center;
    font-size: small;
}

.heading {
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
}

#btn-translate {
        font-family: 'Montserrat', snas-serif;
        font-weight: bold;
        margin: 1rem;
        color: white;
        background-color: var(--secondary-color);
}

#txt-input {
    width: 30%;
    padding: 1rem;
    display: block;
    margin: 1rem;
}

#txt-output {
    width: 30%;
    border: 1px solid black;
    display: block;
    padding: 1rem;
    margin: 1rem;
}